<!doctype html>
<html ng-app="raviApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div >
      

      <div ng-controller="myController">

        test:   {{a}}

        <label>Name:</label>
        <input type="text" ng-model="myName" placeholder="Enter a name here">
        <hr>
        <input type="button" value="Click Me" ng-click="clickMe()"/>
        <h1>Hello {{myName}}!</h1>

        {{users}}


        <ul>

          <li ng-repeat="u in users">{{u.name}}</li>

        </ul>

      </div>
      
    </div>
  </body>
</html>